.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://images.pexels.com/photos/1509534/pexels-photo-1509534.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
h1 {
  font-size: 50px;
  font-weight: 900;
  color: white;
}
p {
  font-family: serif;
}
.app {
  width: 1000px;
  height: 600px;
  background-color: whitesmoke;
  padding: 50px 20px;
  box-shadow: rgba(209, 207, 207, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

.inputfield label {
  display: inline-block;
  width: 500px;
  font-size: 20px;
}

.inputfield {
  display: flex;
  flex-direction: column;
}

input {
  margin: 20px 0px;
  width: 300px;
  padding: 10px;
}

button {
  padding: 10px 15px;
  width: 100px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  font-weight: bold;
  background-color: rgb(59, 56, 56);
  color: white;
}

button:hover {
  background-color: grey;
}

.output {
  padding: 20px 0px;
  font-size: 24px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
}
